body{
  font-family: Arial;
  font-size: 16px;
  color: #000000;
  background: #FFFFFF;
}

.comment-box {
background: #E7E7E7;
/*border: 1px solid #979797;*/
max-width : 550px;
margin : auto;
padding : 20px;
}


.comment {
background: #FFFFFF;
border: 1px solid #BEBEBE;
box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
border-radius: 5px;
padding: 15px;
}

.comment-list {
  background: #FFFFFF;
  border: 1px solid #BEBEBE;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
}

.comment-form {
  background: #FFFFFF;
  border: 1px solid #BEBEBE;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 3px;
  padding: 15px;
}


input, textarea {
  background: #FFFFFF;
  border: 1px solid #BEBEBE;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 3px;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  display : block;
  min-width: 300px;
  font-family: Arial;
  font-size: 16px;
}


.buttonSubmit {
  background: #d93434;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 5px;
  text-decoration: none;
}

.buttonSubmit:hover {
  background: #d93434;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  text-decoration: none;
}


.buttonAbuse {
  background: #d93434;
  background-image: linear-gradient(to bottom, #d93434, #87132a);
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 5px;
  text-decoration: none;
}

.buttonAbuse:hover {
  background: #d93434;
  background-image: linear-gradient(to bottom, #87132a, #d93434);
  text-decoration: none;
}
